/*Font being set for entire page*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}
/* CSS for elements and tags in the header of page*/
.heading {
    float:left;
    padding: 20px;
    border: solid cadetblue 3px;
    margin: 5px;
    color: cadetblue;
    background-color: bisque;
    position: fixed; 
    top:20px; 
    left:20px;
   
}

h1 {
    background-color: bisque;
    display: inline-block;

}
 li {
     display: inline-block;
     padding: 15px;
     margin: 0 15px;
     border:solid cadetblue 1px;
     border-radius: 30px;
  
 }
.nav {
    text-align: right;
    background-color: bisque;
    padding: 0.5em;
    font-size: 24px;
   
}
/*design for for the nav bar*/
a {
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}
a:hover {
    color: black ;
}
/*body of the page */
img {
    width: 25%;
    margin-left:620px;
}
figure {
    width: 50%;
    display: inline;
    padding: 6em;
    align-content: center;

}

figcaption {
    padding-top: 10px;
    font-weight: bolder;
    text-align: center;
    font-size: 26px;
    
}
/*contact section of page*/
.contact {
    background-color: cadetblue;

}
#contactme {
    text-align:center;
    font-size: 30px;
    padding: 20px 0 0 0;
    margin-bottom: 0;
    color:bisque;
    text-shadow: black ;

}

#submit {
    text-align: center;
    padding-bottom: 10px;
}
form {
    margin: 1em ;
    text-align: center;
    font-weight: bold;

}
label {
    padding-bottom: 1em;
    border-radius:25%; /*what is border radius, margin, padding. look into it*/
}
/*footer css, centered the text*/
.text-center {
    text-align: center;
    background-color: bisque;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}